<h1>This is the end for you, my master.  I wish it were otherwise.</h1>

<%= erb :its_over_form %>
<% mystring = "\"You are tearing me apart, Lisa!\" Tommy's screaming voice screamed screamily at 5:23 " %>
<%= mystring %>
